h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    padding-bottom: $gap;
    border-bottom: 1px solid $c-border;
    font-size: 3em;
    margin: 0;
    padding: 0;

    span.tagline {
        font-size: 0.5em;
        color: rgba(255,0,0, 0.7);
    }
}

a {
    color: $c-highlight;
}

html, body, .container {
    height: 100%;
}

h1 {
    color: $c-highlight;
    border: none;
    font-family: 'comic-sans', cursive;
    margin-bottom: 0;
}

div {
    font-family: 'Cardo', serif;
}

button {
    color: white;
    background-color: $c-highlight;
    text-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;

    &:hover {
        background-color: darken($c-highlight, 5%);
    }
}

.center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center-x {
    margin: auto;
    display: block;
}

#speak {
    font-size: 2em;
    padding: 0.5em 1em;
    font-family: 'comic-sans', cursive;
    width: 10em;
    margin: auto;
    display: block;
}

.speak-easy {
    bottom: 2em;
    position: fixed;
    margin: auto;
    left: 0;
    display: block;
    right: 0;
}

.header {
    font-size: 4em;

    span {
        display: inline-block;
    }

}

.previously {
    display: none;
    margin-bottom: 1em;

    &.active {
        display: block;
    }

    &:before {
        content: 'You said: \201C'
    }

    &:after {
        content: '\201D'
    }

    color: #888;
    text-align: center;
    font-size: 3em;
    font-family: 'Parisienne', cursive;
    text-transform: capitalize;
}

.ohYeahWell {
    display: none;
    margin-top: 0.5em;
    font-family: 'Roboto', sans-serif;

    &.active {
        display: block;
    }
}

#dimmer {

    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    height: 100%;
    width: 100%;
    font-weight: 700;
    font-size: 2em;

    h1 {
        border: none;
        top:50%;
        transform: translateY(-50%);
        position: relative;
        text-align: center;
        color: white;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 2em;
    }
}

@media (max-width: 300px) {
    h1 {
        font-size: 1em;
    }
}